.databricks/
build/
dist/
__pycache__/
*.egg-info
.venv/
.DS_Store
.idea
uv.lock
/platform/terraform/.terraform.tfstate.lock.info
/platform/terraform/.terraform.lock.hcl
/platform/terraform/.terraform/
/platform/terraform/terraform.tfstate
